<script>
    $(document).ready(function(){
       $('.parallax').parallax();
    });
</script>
<div ng-controller="welcomeController">
	<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">A. Rae Gaines</h1>
				<h3 class="header center teal-text text-lighten-2">Full Stack Developer | Multimedia Producer</h3>
        <div class="row center">
					<a href="https://github.com/rudietuesdays/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">GitHub</a>
					<a href="https://www.linkedin.com/in/againes/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">LinkedIn</a>
					<a href="https://www.flickr.com/photos/manda_face" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Flickr</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="imgs/audio_bot.jpg"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <h5 class="center"><a href="https://github.com/rudietuesdays/MEAN_chatbot">Chat Bot</a></h5>
          <p class="light">A one page app where a user can chat with a robot about music and feelings. Built with MEAN.</p>
					<h2 class="center projects"><img src="imgs/rude_bot_tiny.gif" alt=""></i></h2>
        </div>

        <div class="col s12 m4">
					<h5 class="center"><a href="https://github.com/rudietuesdays/twitter_skabot">Twitter Bot</a></h5>
					<p class="light">For fans of #ska on Twitter, this bot will reply with classic phrases of the musical genre. Built in Ruby.</p>
          <h2 class="center projects"><img src="imgs/ska_bot_small.png" alt=""></h2>
        </div>

        <div class="col s12 m4">
          <h5 class="center"><a href="https://github.com/rudietuesdays/song_generator">Song Generator</a></h5>
          <p class="light">A work in progress, this app allows a user to select song content and styles. An editable song will be created for the user. Also includes a Beyonce song generator based on a user's mood. Built in Python.</p>
					<h2 class="center brown-text"><img src="imgs/feels_ocean.png" alt=""></h2>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">

      </div>
    </div>
    <div class="parallax"><img src="imgs/audio_bot.jpg"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact</h4>
          <p class="left-align light">For questions, comments, project ideas, collaborations, or to connect and say hi, send me a message at <a href="mailto:me@raegaines.com">me [at] raegaines [dot] com</a>.</p>
        </div>
      </div>

    </div>
  </div>
</div>
