<script>
    $(document).ready(function(){
       $('.parallax').parallax();
    });
</script>
<div ng-controller="welcomeController">
	<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">A. Rae Gaines</h1>
				<h3 class="header center teal-text text-lighten-2">Full Stack Developer | Multimedia Producer</h3>
        <div class="row center">
          <a href="#!" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Portfolio</a>
					<a href="https://github.com/rudietuesdays/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">GitHub</a>
					<a href="https://www.linkedin.com/in/againes/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">LinkedIn</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="imgs/audio_bot.jpg"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Chat Bot</h5>

            <p class="light">A one page app where a user can chat with a robot about music and feelings. Built with MEAN.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Twitter Bot</h5>

            <p class="light">For fans of #ska on Twitter, this bot will reply with classic phrases of the musical genre. Built in Ruby.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Song Generator</h5>

            <p class="light">A work in progress, this app allows a user to select song content and styles. An editable song will be created for the user. Also includes a Beyonce song generator based on a user's mood. Built in Python.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">

      </div>
    </div>
    <div class="parallax"><img src="imgs/audio_bot.jpg"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact</h4>
          <p class="left-align light">Send me a message.</p>
        </div>
      </div>

    </div>
  </div>
</div>
